absl-py==2.0.0
attrs==23.1.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
chumpy==0.70
colorama==0.4.6
contourpy==1.1.1
cycler==0.11.0
Cython==3.0.2
flatbuffers==23.5.26
fonttools==4.42.1
fvcore==0.1.5.post20221221
idna==3.4
imageio==2.31.3
importlib-resources==6.0.1
iopath==0.1.10
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.5
lazy_loader==0.3
loguru==0.7.2
matplotlib==3.8.0
mediapipe==0.10.5
natsort==8.4.0
networkx==3.1
numpy==1.23.1
opencv-contrib-python==4.8.0.76
packaging==23.1
pandas==2.1.0
Pillow==10.0.1
portalocker==2.8.2
protobuf==3.20.3
pycparser==2.21
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.31.0
scikit-image==0.21.0
scipy==1.11.2
six==1.16.0
sounddevice==0.4.6
tabulate==0.9.0
termcolor==2.3.0
tifffile==2023.9.18
tornado==6.3.3
tqdm==4.66.1
tqdm-multiprocess==0.0.11
transforms3d==0.4.1
trimesh==3.23.5
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
visdom==0.2.4
websocket-client==1.6.3
yacs==0.1.8
zipp==3.17.0
pandas==2.1.0
oauthlib